<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
        <string>只为记账</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>

	<!-- Camera permissions -->
	<key>NSCameraUsageDescription</key>
	<string>需要访问相机来拍摄收据和账单，以便进行智能记账识别</string>

	<!-- Photo Library permissions -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册来选择收据和账单图片，以便进行智能记账识别</string>

	<!-- Photo Library Add permissions (iOS 14+) -->
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要将拍摄的收据和账单照片保存到相册中，以便您随时查看</string>

	<!-- Microphone permissions -->
	<key>NSMicrophoneUsageDescription</key>
	<string>需要访问麦克风来进行语音记账，将语音转换为文字记录</string>

	<!-- URL Schemes for deep linking -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>cn.jacksonz.pwa.twa.zhiweijz</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zhiweijz</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
